MODE=foundry

# DEV ONLY
    # Disable docker's watch menu. This can fix a terminal becoming unresponsive
    COMPOSE_MENU=0

    # Change prefix to allow for multiple instances of Lumium to run on your host
    SERVICE_PREFIX=lm_

    #UID and GID for your user/group on your machine
    UID=1000
    GID=1000

# POSTGRES / REDIS (Dragonfly) / CLICKHOUSE
    POSTGRES_PASSWORD=lumium
    POSTGRES_USER=lumiumbot
    POSTGRES_DB=lumium
    POSTGRES_PORT=5432

    SERVICE_PGSQL_DBURL_LOCAL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${SERVICE_PREFIX}pgsql/${POSTGRES_DB}

    # What database your backend is connected to. Change the value string from ${SERVICE_PGSQL_DBURL_LOCAL} to ${SERVICE_PGSQL_DBURL_PROD} for instance to connect to production
    SERVICE_PGSQL_DBURL=${SERVICE_PGSQL_DBURL_LOCAL}

    CLICKHOUSE_HOST=${SERVICE_PREFIX}clickhouse
    CLICKHOUSE_DB=default
    CLICKHOUSE_USER=${POSTGRES_USER}
    CLICKHOUSE_PASSWORD=${POSTGRES_PASSWORD}

    # What database your backend is connected to. Change the value string from ${SERVICE_CLICKHOUSE_URL_LOCAL} to ${SERVICE_CLICKHOUSE_URL_TESTING} for instance to connect to testing
    SERVICE_CLICKHOUSE_URL_LOCAL=http://${CLICKHOUSE_USER}:${CLICKHOUSE_USER}@${SERVICE_PREFIX}clickhouse:8123/${CLICKHOUSE_DB}

    SERVICE_CLICKHOUSE_DBURL=${SERVICE_CLICKHOUSE_URL_LOCAL}

# HTTP/TCP SETUP for digital properties within the Lumium ecosystem
    CORE_API_HOST=${SERVICE_PREFIX}api
    CORE_API_PORT=4000
    CORE_API_DOMAIN=api.lumium.test

# SERVICES
    SERVICE_PORT_ADMINER=5300

    SERVICE_MINIO_ROOT_USER=minioadmin
    SERVICE_MINIO_ROOT_PASSWORD=minioadmin
    SERVICE_S3_ENDPOINT=http://minio:9000
    SERVICE_S3_REGION=us-east-1
    SERVICE_S3_BUCKET=lumium
    SERVICE_S3_ACCESS_KEY=minioadmin
    SERVICE_S3_SECRET_KEY=minioadmin
    SERVICE_S3_USE_SSL=false

# API
    JWT_SECRET=1